.hero-section {
  @media (max-width: 820px) {
    padding-top: 56px !important;
  }
  .hero-title {
    @media (max-width: 820px) {
      font-family: 'Titillium Web';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 35px;
      color: #FFFFFF;
    }
  }
  .hero-subtitle {
    @media (max-width: 820px) {
      margin-top: 25px;
      margin-bottom: 0;
      font-size: 17px;
    }    
  }
  .list-first-section {
    @media (max-width: 820px) {
      margin-top: 47px;
      padding: 20px 34px 26px 24px;
    }
    .info-title {
      @media (max-width: 820px) {
        font-size: 26px;
        line-height: 40px;
      } 
    }
    .info-list {

      li {
        @media (max-width: 820px) {
          font-size: 17px;
          line-height: 23px;  
        }

        &::marker {
          @media (max-width: 820px) {
            width: 7px;
            height: 14px;
          }
        }

        p {
          padding-left: 26px !important;

          @media (max-width: 820px) {
            padding-left: 17px !important;
          } 
        }
      }
    }
  }
  .hero-second-section-wrap {
    @media (max-width: 820px) {
      max-width: initial;
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    @media (max-width: 568px) {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }
  .hero-second-section {
    .second-part {

     
      @media (max-width: 820px) {
        max-width: 720px;
        margin: 0 auto;
      }
     
     

      @media (max-width: 820px) {
        order: 2;
        margin-top: -60px !important;
      }

      @media (max-width: 768px) {
        max-width: 720px;
        margin:  0 auto;
      }

      @media (max-width: 568px) {
        padding-left: 12px;
        padding-right: 12px;
        margin-top: -30px !important;
      }

      // @media (max-width: 860px) {
      //   margin-top: 300px !important;
      // }

      .info-title {
        @media (max-width: 568px) {
          font-size: 26px;
          line-height: 40px;
        }  
      }

      .list-wrap {
        @media (max-width: 820px) {
          padding: 20px 34px 26px 24px !important;
        }

        li {
          @media (max-width: 820px) {
            font-size: 17px;
            line-height: 23px;  
          }
  
          &::marker {
            @media (max-width: 820px) {
              width: 7px;
              height: 14px;
            }
          }
  
          p {
            padding-left: 26px !important;
  
            @media (max-width: 820px) {
              padding-left: 17px !important;
            } 
          }
        }
      }
      
    }
    .second-part-img {
      @media (max-width: 820px) {
        margin-left: 0 !important;
        margin-top: 47px !important;
        position: relative;
        z-index: 1;
        order: 1;
        width: 100%;
        padding: 0;
      }
      
      @media (max-width: 568px) {
        padding: 0;
      }

      img {
        width: 130%;
        height: 100%;
        @media (max-width: 820px) {
          width: 100%;
        } 
  

      }
    }
  }
}
.part-2 {

  @media (max-width: 568px) {
    padding: 0 !important;
  }
  .custom-slider-wrap {
    @media (max-width: 820px) {
      padding: 0;
      padding-top: 22px !important;
    }

    .title-section {
      @media (max-width: 820px) {
        font-weight: 700;
        font-size: 36px;
        line-height: 55px;
      } 
    }

    .solid {
      @media (max-width: 820px) {
        width: 70% !important;
      }
      @media (max-width: 568px) {
        margin-left: 15px;
      }
    }
    .button-nav-wrap {
      @media (max-width: 820px) {
        display: initial;
      }
      @media (max-width: 568px) {
        display: none;
      }
    }
  }

  .projects-wrap {
    // padding-left: 0 !important;
    // padding-right: 0 !important;

    @media (max-width: 820px) {
      padding-top: 0 !important; 
      padding: 0;
    }
    &::before {
      @media (max-width: 820px) {
        display: none;
      }
    }
    >div {
      @media (max-width: 820px) {
        // margin-top: 25px !important;
      }
    }

    .project-card-wrap {
      @media (max-width: 820px) {
        width: 100%;
        margin: 0 auto;
      }

      .img-container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 820px) {
          min-height: 188px;
        }
      }
    }

    .card-wrap {
      @media (max-width: 820px) {
        margin-top: 32px !important;
      }
    }
    .card-content {
      min-height: 278px;
      background: black;

      @media (max-width: 820px) {
        padding: 26px 21px 31px 21px !important;
      }

      .card-title {
        @media (max-width: 820px) {
          text-align: left !important;
          font-size: 20px;
          line-height: 32px;
        }

        &::before {
          @media (max-width: 820px) {
            top: -45px;
            left: 0;
          }
        }
      }
      .card-text {
        @media (max-width: 820px) {
          font-size: 17px;
          line-height: 26px;
        } 
      }
      .card-tags {
        button {
          border: none !important;

          @media (max-width: 820px) {
            margin-bottom: 8px;
          }
        }
      }
    }

    .card-info {
      background: black;
      padding-left: 25px;

      @media (max-width: 820px) {
        margin-top: 0 !important;
        padding: 0 21px 31px 21px !important;
      }

      .favorite-icon {
        @media (max-width: 820px) {
          display: none;
        }
      }

      button {
        border: none !important;
        
        &.tag-btn {
          padding: 10px 35px;
        }
      }

      .tag-btn {
        @media (max-width: 820px) {
          height: 40px;
          // margin-bottom: 20px;
        }
      }
    }
  }
}

#news {

  .news-container-wrap {
    @media (max-width: 820px) {
     margin-bottom: 28px !important;
     padding-left: 0;
     padding-right: 0;
    }

    .container-header-wrap {
      margin-bottom: 0 !important;
    }

    .title-section {
      @media (max-width: 820px) {
        font-weight: 700;
        font-size: 36px;
        line-height: 55px;
      } 
    }
  
    .solid {
      @media (max-width: 820px) {
        width: 60% !important;
      }
      @media (max-width: 568px) {
        width: 35% !important;
      }
    }
    .button-nav-wrap {
      @media (max-width: 820px) {
        display: initial;
      }
      @media (max-width: 568px) {
        display: none;
      } 
    }
  }

  .card {

    @media (max-width: 820px) {
      padding: 0 !important;
    }

    .card-body {
      @media (max-width: 820px) {
        padding: 0 !important;
      }

      .news-date {
        @media (max-width: 820px) {
          font-weight: 200;
          font-size: 12px;
          line-height: 18px;
        }
      }
      .card-title-text {
        @media (max-width: 820px) {
          margin-top: 12px !important;
          margin-bottom: 12px !important;
          font-weight: 300;
          line-height: 32px;
        }
      }
      .card-text {
        @media (max-width: 820px) {
          font-weight: 300;
          font-size: 17px;
          line-height: 26px;
        }
      }
      .read-more-btn {
        @media (max-width: 820px) {
          font-weight: 300;
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
  }
}