.profile {
  .title-wrap {
    margin-bottom: 78px;

    @media (max-width: 568px) {
      margin-bottom: 52px;
      margin-top: 50px;
    }

    h1 {
      font-family: 'Titillium Web';
      font-style: normal;
      font-weight: 300;
      font-size: 70px;
      line-height: 74px;
      color: #FFFFFF;

      @media (max-width: 568px) {
        font-size: 32px;
        line-height: 36px;
        color: #FFFFFF;
        text-shadow: 0px 0px 50px #D8603F;  
      }
      
      b {
        font-weight: 700;
      }
    }
  }

  .cards {

    .card {
      padding: 44px 7px;
      background: #000000;

      @media (max-width: 1086px) {
        margin-bottom: 15px;
      }

      @media (max-width: 568px) {
        margin-bottom: 15px;
      }

      .card-title {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 60px;
        text-align: center;
        margin-bottom: 10px;

        &.near-collected {
          color: #F9ED32;

          @media (max-width: 568px) {
            font-size: 40px;
            line-height: 61px;
            text-align: center;
          }
        }
        &.supporters {
          color: #EEA91E;

        }
        &.phases {
          color: #CE225B;
        }
      }
      .card-subtitle {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 2px;
        color: #FFFFFF;
        text-align: center;
      }
    }
  }

  .supporters {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;

    b {
      font-weight: 700;
    }
  }

  .tag-btn {
    border: none;
  }

  .edit-btn {
    padding: 7px 14px 9px 16px;
    background: #EAAD25 !important;
    border-radius: 5px !important;
    border: none;
    color: #000000 !important;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    img {
      margin-left: 21px !important;
    }
  }

  .collect-btn {
    background: #CE225B !important;
    border-radius: 5px !important;
    padding: 7px 14px 9px 16px;
    border: none;
    color: #FFFFFF !important;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  .projects-wrap {
    margin-bottom: 135px;
  }

  .card-content {
    background: #000000;
  }

  .card-info {
    background: #000000;
  }

  .img-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .projects-wrap {
    // padding-left: 0 !important;
    // padding-right: 0 !important;

    @media (max-width: 820px) {
      padding-top: 0 !important; 
      padding: 0;
    }
    &::before {
      @media (max-width: 820px) {
        display: none;
      }
    }
    >div {
      @media (max-width: 820px) {
        margin-top: 25px !important;
      }
    }

    .project-card-wrap {
      @media (max-width: 820px) {
        width: 100%;
        margin: 0 auto;
      }

      .img-container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: 820px) {
          min-height: 188px;
        }
      }
    }

    .card-wrap {
      @media (max-width: 820px) {
        margin-top: 32px !important;
      }
    }
    .card-content {
      min-height: 278px;
      background: black;

      @media (max-width: 820px) {
        padding: 26px 21px 31px 21px !important;
      }

      .card-title {
        @media (max-width: 820px) {
          text-align: left !important;
          font-size: 20px;
          line-height: 32px;
        }

        &::before {
          @media (max-width: 820px) {
            top: -45px;
            left: 0;
          }
        }
      }
      .card-text {
        @media (max-width: 820px) {
          font-size: 17px;
          line-height: 26px;
        } 
      }
      .card-tags {
        button {
          padding: 7px 14px 9px 16px;
          min-height: 40px;
          border: none !important;

          @media (max-width: 820px) {
            margin-bottom: 8px;
          }
        }
      }
    }

    .card-info {
      background: black;

      @media (max-width: 820px) {
        margin-top: 0 !important;
        padding: 0 21px 31px 21px !important;
      }

      .favorite-icon {
        @media (max-width: 820px) {
          display: none;
        }
      }

      button {
        border: none !important;
      }

      .tag-btn {
        padding: 7px 14px 9px 16px;
        min-height: 40px;

        @media (max-width: 820px) {
          height: 40px;
          // margin-bottom: 20px;
        }
      }
    }
  }
}
