.single {
  background-image: url('../../public/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 0 !important;
  /* background-position: center; */

  .row {
    @media (max-width: 568px) {
      margin-left: 0 !important;
    }
  }
  
  .main-wrap {
    padding: 0;

    .first-part-wrap {
      margin: 0;

      .description-wrap {
        padding: 0;
        margin: 0;

       
        @media only screen and (min-device-width: 1024px) and (max-device-width: 1180px) and (orientation:landscape) {
          margin-top: -200px;
        }
      }
    }
  }
  .title-wrap {
    padding: 0;
    margin: 0;
    margin-bottom: 20px !important;

    .mobile-padding {
      @media (max-width: 568px) {
        padding-left: 24px !important;
        padding-right: 24px !important;
      }
    }


    .text-wrap {
      @media (max-width: 568px) {
        padding-left: 24px;
        padding-right: 24px;
      }

      .col-12 {
        padding: 0;
      }
    }
    

    .idea-title {
      font-family: 'Titillium Web';
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 54px;
      margin-bottom: 28px !important;
      color: #FFFFFF;

      @media (max-width: 1180px) {
        font-weight: 700;
        font-size: 40px;
      }

      @media (max-width: 568px) {
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        text-shadow: 0px 0px 50px #D8603F;
      }
    }
  }

  .tag-wrap {
    margin-bottom: 41px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    @media (max-width: 1180px) {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      padding-right: 24px;
      margin-bottom: 25px !important;
      -ms-overflow-style: none;
      scrollbar-width: none;
      width: 100%;

      &::-webkit-scrollbar {
        display: none;
      }
    }
    
    @media (max-width: 568px) {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 25px !important;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .link-wrap {
    margin-bottom: 41px;
    padding: 0;
    text-align: right;

    @media (max-width: 1180px) {
      padding-right: 24px;
      margin-bottom: 27px;
      text-align: left;
      width: 100%;
    }

    @media (max-width: 568px) {
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 27px;
      text-align: left;
    }

    a {
      font-family: 'Titillium Web';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      text-decoration: none;
      color: #FFFFFF;
  
      b {
        font-weight: 700;
      }
  
      img {
        margin-left: 12px;
        margin-right: 25px;
      }
    }
  }
 

  .tag-btn {
    background: #1C1C1C !important;
    border-radius: 5px !important;
    font-family: 'Titillium Web' !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 14px !important;
    line-height: 21px !important;
    border: none;
    color: #FFFFFF !important;
    padding: 9px 12px 10px 12px;
    cursor: pointer;
    
    &:focus {
      box-shadow: none !important;
      background: #CE225B !important;
      border-radius: 5px;
    }
  }

  .idea-img {
    border-radius: 15px;
    margin-top: auto;

    @media (max-width: 568px) {
      border-radius: 0;
    }
  }

  .tab-wrap {
    background-color: #000000;
    padding: 57px 54px 40px 55px;
    margin-bottom: 24px;
    border-radius: 2px;

    @media (max-width: 568px) {
      padding: 0;
      padding-left: 12px;
      padding-right: 12px;
      background: transparent;
    }

    .nav-tabs {
      border-bottom-color: #A39A9A;
      margin-bottom: 37px;
      display: flex;
      justify-content: space-between;

      @media (max-width: 1180px) {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        white-space: nowrap;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      @media (max-width: 568px) {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        white-space: nowrap;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .nav-item {

        @media (max-width: 1180px) {
          margin-right: 33px;
        }

        @media (max-width: 568px) {
          margin-right: 33px;
        }

        .nav-link {
          font-family: 'Titillium Web';
          font-style: normal;
          font-weight: 300;
          font-size: 24px;
          line-height: 37px;
          color: #FFFFFF;
          border: none;
          padding: 0;
    
          &.active {
            background: transparent;
            border-bottom: 5px solid transparent;
            border-image: linear-gradient(167.94deg, #F9ED32 -55.78%, #E8A523 -15.9%, #CE225B 42.2%, #693E98 91.2%);
            font-weight: 700;
            border-image-slice: 1;
            width:100%;
          }
        }
      }      
    }

    .tab-content {
      font-family: 'Titillium Web';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      color: #FFFFFF;

      @media (max-width: 568px) {
        font-size: 17px;
        line-height: 26px;
      }
    }
  }
  .comments-wrap {
    background-color: #000000;
    padding: 57px 54px 40px 55px;
    margin-bottom: 79px;
    border-radius: 2px;

    @media (max-width: 568px) {
      background: transparent;
      padding: 0;
      padding-left: 12px;
      padding-right: 12px;
    }

    .comment-wrap {
      margin-bottom: 5px;

      @media (max-width: 568px) {
        margin-bottom: 20px;
      }
    }

    .nav-tabs {
      border-bottom-color: #A39A9A;
      margin-bottom: 37px;
      display: flex;
      justify-content: space-between;

      .nav-item {

        .nav-link {
          font-family: 'Titillium Web';
          font-style: normal;
          font-weight: 300;
          font-size: 24px;
          line-height: 37px;
          color: #FFFFFF;
          border: none;
          padding: 0;
    
          &.active {
            background: transparent;
            border-bottom: 5px solid transparent;
            border-bottom-color: linear-gradient(167.94deg, #F9ED32 -55.78%, #E8A523 -15.9%, #CE225B 42.2%, #693E98 91.2%);
            font-weight: 700;
          }
        }
      }      
    }

    .tab-content {
      font-family: 'Titillium Web';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      color: #FFFFFF;

      .image-wrap {
        padding: 0;
        
        img {
          width: 100%;
          height: auto;
        }
      }

      .content-wrap {

        .author-wrap {
          margin-left: 16px;

          @media (max-width: 568px) {
           margin-left: 0;
          }

          .author {
            font-size: 18px;
            line-height: 27px;
            color: #EEBF29;
            font-weight: 400;
          }
        }

        .date {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 13px !important;
        }

     

          .content {
            font-weight: 300;
            font-size: 18px;
            line-height: 27px;

            @media (max-width: 568px) {
              font-size: 17px;
              line-height: 26px;
            }
          }
      }
    }
  }
  .current-status-wrap {

    .card {
      background-color: #000000;
      padding: 42px 68px 50px 64px;
      border-radius: 15px;
      box-shadow: 0px 0px 50px rgb(152 77 153 / 20%);
      border-radius: 15px;

      @media (max-width: 1180px) {
        padding: 25px 24px 41px 24px;
      }

      @media (max-width: 568px) {
        background: transparent;
        padding: 25px 24px 41px 24px;
        border: none;
      }

      .card-body {
        padding: 0;
      }

      .card-subtitle {
        text-align: right;
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 2px;
        color: #EEBF29;

        @media (max-width: 568px) {
          text-align: left;
        }
      }
      .current-status {
        text-align: right;
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        // line-height: 91px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: 1180px) {
          font-size: 46px;
          line-height: 70px;
        }

        @media (max-width: 568px) {
          font-size: 46px;
          line-height: 70px;
        }

        img {
          margin-left: 30px;
          height: 46px;
          width: 46px;

          @media (max-width: 1180px) {
            width: 32px;
            height: 32px;
          }

          @media (max-width: 568px) {
            width: 32px;
            height: 32px;
          }
        }
        
      }
  
      .info-wrap {

        width: 100%;
        margin: 0 !important;

        .status-first-part {

          @media (max-width: 568px) {
            display: flex;
            align-items: flex-start;
          }

          .col-lg-3 {
            @media (max-width: 1180px) {
              width: 41.66666667%;
            }
          }
          .col-lg-9 {
            @media (max-width: 1180px) {
              width: 58.33333333%;
            }
          }
        }
       
        .col {
          text-align: right;
          padding: 0;

          .status-title {
            font-family: 'Titillium Web';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            text-align: right;
            letter-spacing: 2px;
            margin-bottom: 0;
            color: #EEBF29;

            @media (max-width: 568px) {
              font-size: 14px;
              line-height: 21px;
              letter-spacing: 1.55556px;
              text-align: left;
            }
            
            &.mobile-align-right {

              @media (max-width: 568px) {
              
                text-align: right;
              }
              
            }
          }
          .status-text {
            font-family: 'Titillium Web';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 37px;
            text-align: right;
            color: #FFFFFF;
            margin-bottom: 0;

            @media (max-width: 568px) {
              font-weight: 700;
              font-size: 20px;
              line-height: 30px;
            }
            
            &.mobile-align-left {

              @media (max-width: 568px) {
                text-align: left;
              }
              
            }

            b {
              font-weight: 700;
            }
          }
        }

        .mobile-goal-wrap {
          display: none;

          @media (max-width: 1180px) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
          
          @media (max-width: 568px) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }

          .idea-img {
            width: 15px !important;
            height: 15px;
            margin-bottom: 0 !important;
            margin-left: 2px;
            border-radius: 0;
            margin-top: 0;
          }
        }
      }

      .cash-amount {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: right;
        color: #FFFFFF;
        margin-bottom: 23px !important;

        @media (max-width: 568px) {
          font-size: 20px;
          line-height: 30px;
          text-align: left;
        }
      }
    }
    

    .solid {
      background: #E2425A;
      width: 100%;
    }

    .goals {
      font-family: 'Titillium Web';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      text-align: right;
      letter-spacing: 2px;
      color: #EEBF29;
      margin-bottom: 24px;
      text-align: left;
    }
    .progress-list {
      list-style-type: none;
      padding-left: 0;
      margin-bottom: 0;

      .info-wrap {
        display: flex;
        flex-direction: column;
        width: 91%;
        padding-left: 16px !important;
      }


      .progress-list-item-wrap {
        margin-bottom: 30px;

        &::before {
          content: "";
          width: 2px;
          height: 115px;
          background: #CF255A;
          position: absolute;
          margin-left: 17px;
          z-index: 1;
          margin-top: 10px;

          @media (max-width: 1180px) {
            margin-left: 15px;
            margin-top: 35px;
          }

          @media (max-width: 820px) {
            margin-left: 28px;
            height: 101px;
            margin-top: 30px;
          }

          @media (max-width: 568px) {
            margin-left: 13px;
            margin-top: 30px;
          }
        }

             
        &:last-of-type:before {
          height: 0;

          @media (max-width: 1180px) {
            height: 20px;
          }
        }

      

        &:last-child {
          margin-bottom: 36px;
        }

        &.not-finished {
          opacity: 0.5;
        }

        .progress-list-item {
          color: white;
          display: flex;
  
          .goal-title {
            font-family: 'Titillium Web';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color: #F9ED32;
          }
  
          .idea-img-wrap {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 9%;
            
  
            .idea-img {
              width: 40px !important;
              height: 40px;
              margin-bottom: 0;
              position: relative;
              z-index: 2;
            }
          }
  
  
          .list-item-wrap {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @media (max-width: 1180px) {
              align-items: flex-start;
            }
  
            .goal-goal {
              font-family: 'Titillium Web';
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 27px;
              color: #FFFFFF;

              @media (max-width: 1180px) {
                display: none;
              }

              @media (max-width: 568px) {
                display: none;
              }
            }
  
            .idea-img {
              width: 15px !important;
              height: 15px;
              margin-bottom: 0 !important;
              margin-left: 2px;
              border-radius: 0;
              margin-top: 0;

              @media (max-width: 1180px) {
                display: none;
              }

              @media (max-width: 568px) {
                display: none;
              }
            }
  
            .status-btn {
              font-family: 'Titillium Web';
              font-style: normal;
              font-weight: 300;
              font-size: 12px;
              line-height: 18px;
              text-align: center;
              padding: 3px 6px;
              color: #FFFFFF;
              background: #08C6B4;
              border: none;
              margin-left: 11px;
              min-width: 83px;

              &.hidden {
                visibility: hidden;
              }
            }
  
            .percentage {
              font-family: 'Titillium Web';
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 27px;
              text-align: right;
  
              color: #FFFFFF;
            }
          }
          .progress {
            margin-top: 10px;
          }
        }
      }
    }

    .connect-btn {
      background: #FFFFFF !important;
      border-radius: 5px;
      margin-top: 0 !important;
      font-family: 'Titillium Web';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      padding: 14px 0;
      color: #000000;

    }
  }
}

.footer-inner  {

  .main-footer {
    @media (max-width: 568px) {
      padding-left: 24px !important;
      padding-right: 24px !important;
    }
  }
}

// #test {
//   @media (max-width: 568px) {
//     padding-left: 12px !important;
//     padding-right: 12px !important;
//   }
// }