/* @import-normalize; */

/* #root {
  max-width: 1400px;
  margin: 0 auto;
} */


body {
  font-family: 'PTSerif', sans-serif !important;
}

button {
  border: none;
  background-color: transparent;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  margin: 0 !important;
  padding: 0 !important;
}

@font-face {
  font-family: "Titillium Web";
  src: url("./assets/fonts/TitilliumWeb-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web";
  src: url("./assets/fonts/TitilliumWeb-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web";
  src: url("./assets/fonts/TitilliumWeb-SemiBold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Titillium Web";
  src: url("./assets/fonts/TitilliumWeb-Black.ttf");
  font-weight: 800;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
}

.load-more-btn {
  font-family: "Titillium Web" !important;
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 27px !important;
  text-align: center !important;
  padding: 10px 27px;
  color: #FFFFFF !important;
  background: transparent !important;
  border-radius: 2px;
  border-image: linear-gradient(142.91deg, #F9ED32 0%, #E8A523 27.13%, #CE225B 66.66%, #693E98 100%) !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-image-slice: 1 !important;
  display: flex;
  margin: 0 auto;
}
.me-2 {
  padding: 10px !important;
}

input:read-only {
  background-color: #e9ecef;
  opacity: 1;
  pointer-events: none;
}